<div class="flex items-center h-20">
  <app-title name="Update Task" />
</div>

<form
  [formGroup]="updateTaskForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-4"
>
  <p class="text-center">Completed task ID: {{ task.id }}?</p>
  <input
    id="completed"
    name="completed"
    formControlName="completed"
    [(ngModel)]="task.completed"
    type="checkbox"
    class="h-6 peer focus:accent-sky-500"
  >
  <input
    id="description"
    name="description"
    formControlName="description"
    type="text"
    [(ngModel)]="task.description"
    placeholder="Enter your task"
    pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
    required
    [ngClass]="{
      'peer-checked:decoration-2 peer-checked:text-white peer-checked:decoration-pink-600 peer-checked:line-through'
      : task.completed
    }"
    class="
      w-full h-10 px-3 rounded outline-none line-clamp-2 transition-all bg-stone-800
      placeholder-stone-500 focus:ring-1 focus:ring-sky-500
      invalid:ring-pink-500 invalid:text-pink-600
      focus:invalid:ring-pink-500
    "
  >

  @if (description.invalid && description.touched) {
    <p class="text-xs md:text-sm text-pink-500">Enter a valid task name.</p>
  }

  <app-button label="Submit" [isDisabled]="!updateTaskForm.valid" />
</form>
