<div class="flex justify-center items-center h-20">
  <app-title name="Welcome to Web Task Manager!" />
</div>

<div class="text-center mt-4">
  <div>
    <p>
      Web Task Manager is your all-in-one solution for efficient and effective
      task management.
    </p>
  </div>

  <div class="my-6 text-xl">
    <h2 class="font-bold">What You Can Expect</h2>
  </div>

  <ul class="mb-4">
    <li class="mb-4">
      <strong>User-Friendly Interface:</strong>
      <p>Intuitive and easy-to-navigate tools for organizing your tasks effortlessly.</p>
    </li>
    <li class="mb-4">
      <strong>Customization:</strong>
      <p>Tailor your task management experience to fit your unique needs.</p>
    </li>
    <li >
      <strong>Real-Time Updates:</strong>
      <p>Stay on top of your projects with live notifications and progress tracking.</p>
    </li>
  </ul>

  <h2 class="font-bold">Get Started</h2>

  <ul class="flex justify-center items-center gap-6 mt-6">
    <li>
      <strong><app-link-button label="Sign Up" url="/signup" /></strong>
    </li>
    <li><span>Or</span></li>
    <li>
      <strong><app-link-button label="Log In" url="/login" /></strong>
    </li>
  </ul>
</div>
