@if (logged) {
  <div class="flex justify-center items-center h-20">
    <app-title name="Home" />
  </div>

  <div class="flex justify-between my-4 text-xs sm:text-sm font-semibold">
    <div class="flex gap-2">
      <p>Created tasks</p>
      <div class="mr-2 px-2 bg-stone-700 rounded-full">
        <span>{{ tasks.length }}</span>
      </div>
    </div>
    <div class="flex gap-2">
      <p>Done</p>
      <div class="px-2 bg-stone-700 rounded-full">
        <span>{{ completedTasks() + ' / ' + tasks.length }}</span>
      </div>
    </div>
  </div>

  <div
    class="
      flex flex-col justify-center h-96 pt-4 overflow-auto border-y-2
      border-stone-700 [&::-webkit-scrollbar]:hidden
    "
  >
    @for(task of tasks; track task) {
      <app-task
        [id]="task.id"
        [description]="task.description"
        [isCompleted]="task.completed"
      />
    } @empty { <app-no-tasks/> }
  </div>
} @else {
  <app-welcome />
}
